---
import { Image } from "astro:assets";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Image
      src="/hero.png"
      alt="Utility Gods Hero"
      width={600}
      height={450}
      format="webp"
      quality="high"
      class="w-full"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Empowering Developers with <span class="text-[#e3382f]">Modern Tools</span
      >
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      We build modern web applications and developer tools that help you create
      better software, faster. From production apps to developer templates,
      we've got you covered.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        class="flex gap-1 items-center justify-center bg-[#e3382f] hover:bg-[#e3382f]/90"
        rel="noopener">
        <span class="text-white">
          <Icon name="ph:image-bold" class="w-4 h-4" />
        </span>
        View Products
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/Utility-Gods"
        class="flex gap-1 items-center justify-center border-[#e3382f] text-[#e3382f]">
        <span class="text-[#e3382f]">
          <Icon name="ph:github-logo-bold" class="w-4 h-4" />
        </span>
        GitHub
      </Link>
    </div>
  </div>
</main>
